.boxButton{
    display: grid;
   grid-template-columns: repeat(3,6vw);
   grid-gap: 0.8vw;
   border: 4px solid rgb(28, 156, 199);
   width: 22vw;
   justify-content: center;
   padding: 2vh 0px;
   margin:3vh 10vh ;
}

@media (max-width:768px) {
    .boxButton{
    grid-template-columns: repeat(2,6vw);}
    .div{
        display: none;
    }
}

