.box{
    border: 4px solid rgb(28, 156, 199);
    width: 40vw;
    text-align: center;
    display: block;
    margin:3vh auto;

    
}

h3{
    margin-bottom: 0px;

}
p{
    font-size: 0.8rem;
    
}